@charset "utf-8";

@font-face {
    font-family: 'LTMuseum';
    src: url(../font/LTMuseum-Bold.eot);
    src: url(../font/LTMuseum-Bold.eot?#iefix) format('embedded-opentype'),
        url(../font/LTMuseum-Bold.woff) format('woff'),
        url(../font/LTMuseum-Bold.woff2) format('woff2'),
        url(../font/LTMuseum-Bold.otf) format('otf'),
        url(../font/LTMuseum-Bold.svg#LTMuseum-Bold) format('svg'),
        url(../font/LTMuseum-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'LTMuseum';
    src: url(../font/LTMuseum-light.eot);
    src: url(../font/LTMuseum-light.eot?#iefix) format('embedded-opentype'),
        url(../font/LTMuseum-light.woff) format('woff'),
        url(../font/LTMuseum-light.woff2) format('woff2'),
        url(../font/LTMuseum-light.otf) format('otf'),
        url(../font/LTMuseum-light.svg#LTMuseum-Bold) format('svg'),
        url(../font/LTMuseum-light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'LTMuseum';
    src: url(../font/LTMuseum-Reg.ttf) format('otf'),
        url(../font/LTMuseum-Reg.woff) format('woff'),
        url(../font/LTMuseum-Reg.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Edensor-Free';
    src: url(./Edensor-Free.otf) format('otf'),
        url(./Edensor-Free.woff) format('woff'),
        url(./Edensor-Free.woff2) format('woff2');
}

/*font-family: 'Noto Sans KR', sans-serif;*/

/*font-family: 'Nanum Gothic', sans-serif;*/


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-size: 15px;
    line-height: 25px;
    color: #000;
    font-family: 'Nanum Gothic', sans-serif;
    min-width: 1450px;
}

/*=======header=======*/
#header {
    background-color: #fff;
    opacity: 85%;
    font-family: 'LTMuseum';
    position: fixed;
    z-index: 10;
    width: 100%;
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}

.h_text {
    display: flex;
}

.h_text li {
    font-size: 25px;
    line-height: 25px;
    padding: 0 45px;
}

.h_icon {
    display: flex;

}

.h_icon li {
    padding-left: 15px;
}


.h_icon li:nth-child(2) {
    padding-left: 20px;
}

.h_text li:hover{
    color: rgb(64, 147, 193);
}

.h_icon li:hover{
    opacity: 0.5;
    transition: all 0.5s;
}


/*=======main=======*/
.swiper-pagination span {
    background-color: #fff;
}

.swiper-slide img{
    width: 100%;
}

/*=======man=======*/
#man>h1 {
    text-align: center;
    font-family: 'LTMuseum';
    font-weight: 700;
    font-size: 42px;
    padding-top: 90px;
} 

.man_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.m_inner1 {
    padding-left: 50px;
    position: relative;
}

.opacity1 {
    position: absolute;
    top: 0;
    left: 50px;
    display: none;
}

.m_inner2 {
    padding-right: 50px;
    position: relative;
}

.opacity2 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.m_text {
    font-family: 'LTMuseum';
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}

.m_inner1:hover {
    transition: all 0.5s;
}

.m_box1>p {
    display: block;
}

.m_inner1:hover>.opacity1 {
    display: block;
    transition: all 0.5s;
}

.m_inner2:hover>.opacity2 {
    display: block;
    transition: all 0.5s;
}

.m_inner1:hover>.m_box1 {
    display: block;
    transition: all 0.5s;
}

.m_inner2:hover>.m_box2 {
    display: block;
    transition: all 0.5s;
}

.m_inner2:hover {
    transition: all 0.5s;
}

.m_atag {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.m_box1 {
    position: absolute;
    top: 250px;
    left: 250px;
    display: none;
}

.m_box2 {
    text-align: center;
    position: absolute;
    top: 240px;
    right: 270px;
    display: none;
}

/*=======box 흘러가는 이미지=======*/
@keyframes movement {
    0% {
      background-position: 0px 0px;
    }

    100% {
      background-position: 3567px 0px;
      /*배경이미지 길이만큼 설정합니다!*/
    }
  }

  .box {
    width: 100%;
    height: 50px;
    /*배경이미지 높이로 설정*/
    background: url(../images/main_wave5.jpg) repeat-x left top;
    background-size: auto 50px;
    animation: movement 20s linear infinite;
  }


/*=======best=======*/
#best {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 100px;
}

#best>h1 {
    text-align: center;
    font-family: 'LTMuseum';
    font-weight: 700;
    font-size: 42px;
}

.best_item {
    padding-top: 50px;
    padding-bottom: 100px;
}

.best_item ul {
    display: flex;
    justify-content: space-between;
}

.best_item ul li h4 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 15px;
    font-family: '나눔고딕';
}

.best_item ul li p {
    text-align: center;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
}

.showmore P {
    flex-direction: column;
    transform: translateY(50%);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    text-align: center;
}

.showmore p a {
    width: 232px;
    line-height: 46px;
    text-align: center;
    background-color: rgb(205, 219, 233);
    display: inline-block;
    justify-content: center;
}

.showmore>p>a:hover{
    color: #fff;
    background-color: rgb(20, 53, 72);
}

.best_item ul li {
    position: relative;
}

.back1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.back2 {
    position: absolute;
    top: 0;
    left: 360px;
    display: none;
}

.back3 {
    position: absolute;
    top: 0;
    right: 350px;
    display: none;
}

.back4 {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.best_item>ul>li>a:hover .back1 {
    opacity: 1;
    transition: all 0.5s;
}

.front2:hover>.back2 {
    display: block;
}

.front3:hover>.back3 {
    display: block;
}

.front4:hover>.back4 {
    display: block;
}


/*=======attach=======*/
#attach {
    height: 400px;
    background-image: url(../images/m_fixed.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#attach h1 {
    font-family: 'LTMuseum';
    font-weight: 500;
    color: #fff;
    font-size: 47px;
}


/*=======must=======*/
#must {
    background-image: url(../images/musthaveitem.jpg);
    background-repeat: no-repeat;
    height: 753px;
    background-position: center center;
}

.must_text{
    padding-top: 320px;
    text-align: center;
}

.museum {
    font-family: 'LTMuseum';
    font-weight: 500;
    font-size: 42px;
}

.noto {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    padding-top: 90px;
}

.noto>a:hover{
    color: #fff;
}


/*=======mdpick=======*/
#mdpick {
    background-color: rgb(205, 219, 233);
    overflow: hidden;
}

@keyframes rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

.star1{
    animation: rotate 5s linear infinite;
}

.box1{
    position: absolute;
    left: -90px;
    top: 170px;
}

.mdpick_inner {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 150px;
    justify-content: space-between;
    position: relative;
}

.bigmd {
    background-color: #fff;
    padding: 30px 0;
    display: flex;
    padding-left: 70px;
}

.mdpick_inner h4 {
    font-family: 'LTMuseum';
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    line-height: 44px;
    padding: 110px 0;
}

.swiper_out {
    width: 453px;
    padding: 0 73px;
    height: 680px;
}

.md_inner ul {
    display: flex;
    padding: 10px 0;
}

.md_inner {
    padding-left: 100px;
    font-family: 'Nanum Gothic', sans-serif;
}


.md {
    padding-right: 40px;
}

.md:hover {
    transform: scale(1.2, 1.2);
    overflow: hidden;
}

.md_inner ul li img {
    width: 100%;
}

.bold {
    font-weight: 800;
    font-size: 19px;
    padding-bottom: 5px;
}

.nomal {
    font-size: 13px;
}

.big {
    font-size: 18px;
    padding: 10px 0;
}

.more a{
    font-size: 14px;
    background-color: rgb(205, 219, 233);
    display: inline-block;
    padding: 3px 13px;
}

.more a:hover{
    background-color: rgb(20, 53, 72);
    color: #fff;
}

/*=======event=======*/
#event {
    padding-bottom: 140px;
}

.event_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Nanum Gothic', sans-serif;
}

#event h4 {
    font-family: 'LTMuseum';
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    line-height: 44px;
    padding: 110px 0;
}

.more_event a{
    font-size: 14px;
    background-color: rgb(205, 219, 233);
    display: inline-block;
    padding: 1px 15px;
    text-align: center;
}

.event1 {
    text-align: center;
}

.normal1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 800;
}

.more_event a:hover{
    background-color: rgb(20, 53, 72);
    color: #fff;
}

.event1 img{
    width: 100%;
}

.event1 img:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}


/*membership*/
#membership{
    background-image: url(../images/mebership.jpg);
    background-repeat: no-repeat;
    height: 325px;
    position: relative;
    background-position: center center;
}


.membership_inner p a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 19px;
    line-height: 19px;
    padding: 5px 20px;
}

.membership_inner {
    position: absolute;
    top: 230px;
    right: 50%;
    transform: translateX(50%);
}

.membership_inner p a {
    display: inline-block;
}

.membership_inner>p>a:hover{
    color: rgb(20, 53, 72);
    border: 1px solid rgb(20, 53, 72);
}

#membership h1 img{
    width: 100%;
}

/*=======INSTA=======*/
#insta h4 {
    font-family: 'LTMuseum';
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    line-height: 44px;
    padding: 110px 0;
}

@keyframes movement {
    0% {
      background-position: 0px 0px;
    }

    100% {
      background-position: 3567px 0px;
      /*배경이미지 길이만큼 설정합니다!*/
    }
  }

  .instagram {
    width: 100%;
    height: 247px;
    /*배경이미지 높이로 설정*/
    background: url(../images/insta_wave4.png) repeat-x left top;
    background-size: auto 247px;
    animation: movement 20s linear infinite;
  }



/*=======footer=======*/
#footer {
    background-color: rgb(205, 219, 233);
    margin-top: 110px;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.sns p:nth-child(1) {
    padding-bottom: 20px;
}

.f_text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.sns {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
}


/*=======fix=======*/
#fix {
    position: fixed;
    bottom: 100px;
    right: 50%;
    transform: translateX(800px);
}